<?xml version="1.0" encoding="utf-8"?>
<AppConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <IsFullScreen>true</IsFullScreen>
  <IsDebug>false</IsDebug>
  <PayAccountId>0</PayAccountId>
  <ApplicationName>MZ-ERP</ApplicationName>
  <UpgradeUrl>http://upgrade.wsfly.com/MZERP-Client/App.xml</UpgradeUrl>
  <Version>1.0.00</Version>
  <ServerVersion>1.0.00</ServerVersion>
  <AutoRun>false</AutoRun>
  <UserName>admin</UserName>
  <UserPwd></UserPwd>
  <FirstRunFullWindow />
  <LoginRunFullWindow />
</AppConfig>