<?xml version="1.0" encoding="utf-8"?>
<AppConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <IsInitSystem>false</IsInitSystem>
  <WCFServiceCertifys>
    <WCFServiceCertify>
      <Url>net.tcp://127.0.0.1:8099/</Url>
      <Key>e06ae6b8-bff1-406e-a3cd-74e837a59f70-5970e122-e3fd-4584-81bd-be8c32230dc0-12048dbe-c321-4b84-a7d4-ccab9f7e1e2b</Key>
    </WCFServiceCertify>
  </WCFServiceCertifys>
  <DBName>Wsfly.DC.ERP</DBName>
</AppConfig>